.dashboard {
  display: flex;
  flex-direction: column;
  .section-bottom {
    display: flex;
    min-height: 400px;
    margin-top: 10px;
    border-top: 1px solid #4e4e4e;
    .left {
      flex: 3.5;
    }
    .right {
      flex: 1.5;
    }
  }
}
